@mixin head ($weight,$size: 25px){
  font-family: "Source sans pro", sans-serif;
  font-weight: $weight;
  font-size: $size;
  color:$head-color;
  margin-bottom: 30px;
  text-transform: uppercase;
  padding-top: 30px;
}

@mixin text ($size: 16px,$color: $text){
	color: $color;
	font-size: $size;
	line-height: 27px;
	margin-bottom: 25px;

}
@mixin button{
	color: $head-color;
	font-size: 16px;
	border: 1px solid $head-color;
	padding: 6px 28px;
	border-radius: 20px;

	&:hover{
		color: white;
		text-decoration:none;
		background: $head-color;
	}
}
@mixin button-green(){
	color: white;
	background: #19bd9a;
	height: 43px;
	width: 155px;
	cursor: pointer;
	text-transform: uppercase;
}