@import "partials/params";
@import "partials/mixins";
.Conct-us{
	text-align: center;
}
.blocks-info{
		
	&__block{
		float: left;
		
		&_img{
			position: relative;
		}
		&_icon{
			position: absolute;
			top: 35px;
			left: 145px;
			background: rgba(0,0,0,0);
			font-size: 30px;
		}

		&_title{
			@include head(300,17px);
			margin: 15px 0;
			padding:0;
		}

		&_contacts{
			color: #81868e;
			font-size: 15px;
			text-transform: uppercase;
		}
	}
	&__form{
		margin-top: 170px;
		background: white;
		&_input{
			height: 43px;
			margin-left: 132px;
			margin-bottom: 35px;
			&:first-child{
				margin-left: 0;
			}
		}

		&_text{
			height: 255px;

		}
		&_button{
			color: white;
			text-transform: uppercase;
			height: 60px;
			padding-top: 7px;
			margin-top: 35px;
			margin-bottom: 100px;
			background:#19bd9a;
			cursor: pointer;
		}
	}
}
.Map{
	background: url(img/Map.png)no-repeat center /cover;
	height: 500px;
	text-align: center;
	&__text{ 
		@include text(18px,white);
		padding-top: 190px;
		text-transform: uppercase;

	}
}
