@import "partials/params";
@import "partials/mixins";
.header{
  text-align: center;

  &__title{
    font-size: 35px;
    margin-top: 200px;
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
  }

  &__subtitle{
    @include text(400,white);
  }
}
.About{
  margin-top: 40px;
  text-align: center;
  background: #f3f3f3;
}
.check{
  color:white;
  font-size: 15px;
  background:$green;
  padding: 15px;
  border-radius: 25px;
}

i{
  margin: 10px 10px;
  font-size: 25px;
  color: white;
  background: $icon-bg;
  padding: 16px 15px ;
  border-radius: 25px;

  &:hover{
    background:$green;

  }
}
.creative{
  margin-top: 40px;

  &__head{
    color: #464646;
    font-family: "Open Sans",sans-serif;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: normal;
  }

  &__text{
    display: block;
    float: left;
    @include text;
  
  &_right{
    padding-left: 160px;
  }
  }
}