@import 'partials/params';
@import "partials/mixins";
.Impressed{
	position: relative;
	background: url(img/Black-White.jpg) no-repeat center /cover;
	height: 350px;

	&__text{
		margin-top: 50px;

		&_head{
			@include head(300,22px);
			color:white;
		}

		&_description{
			@include text;
		}
	}

	&__tv{
			position: relative;

			&_img{
				position: absolute;
				top: -40px;
			}
		}

}
