@import 'partials/params';
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,700');
html,body{
	width: 100%;
  	font-family: "Open Sans",sans-serif;
}
a{
	text-decoration: none;
}