@import "partials/params";
@import "partials/mixins";

.Portfolio{
	text-align: center;
}
.Tabs{
	position: relative;

	&__items{
		position: absolute;
    	left: 190px;
    	top: 42px;

		&_item{
			float: left;
			list-style-type: none;
			@include text(17px,#464646);
			padding: 10px 20px;
			cursor: pointer;

			&:hover{
				border-bottom:1px solid #8ddac9;
			}

		}
	}
}
.Imgs{
	margin-top: 130px;

	&__work{
		position: relative;
		margin:0;
		padding: 0;
		display: inline;
		
		&:hover > .shadow{
			opacity:0.9;
		}	

		&_img{
			margin: 10px 10px;
			padding: 0;
			height: 300px;
			z-index: 1;
		}
	}
}
.shadow{
	height: 302px;
	width: 286px;
	position: absolute;
	background: #333333;
	opacity: 0;
	z-index: 2;
	top: -139px;
	right: 0;
	left: 10px;
	padding-top: 100px;
	cursor: pointer;

	&__title{
		@include head(900,20px);
		margin:0;
		padding:10px 0;		
		color: #19bd9a;
	}

	&__description{
		@include text(14px);
	}
}
.Alert{
	background: url(img/bg-green.png) no-repeat center;
	height: 200px;
	margin-top: 20px;
	padding-top: 70px;

	&__text{
		color: white;
		font-size: 20px;
	}

	&__button{
		border: 1px solid white;
		background: rgba(0,0,0,0.1);

		&:hover{
			background: rgba(0,0,0,0.1);
			cursor: pointer;
		}
	}
}