
.Price{
	background: #f3f3f3;
	text-align: center;
}

.Plains{
	margin-left: 150px;
	&__plain{
		background: white;
		height: 300px;
		float: left;
		&_title{
			font-size: 22px;
			color: white;
			font-weight: bold;
			background: #19bd9a;
			padding: 20px 0;
			text-transform: uppercase;

		}

		&_price{
		margin-top: 100px;
		font-family: "Source Sans Pro",Sans-serif;
		color: #81868e;
		font-size: 23px;
		}
		&_icon{
			padding: 0;
			background: white;
			color: #19bd9a;
			font-size: 47px;
		}
		&_number{
			color: #19bd9a;
			font-size: 50px;
			font-weight: bold;
		}
	}
}