@import "partials/params";
@import "partials/mixins";
.Subscribe{
	background: url(img/sub-bg.png) no-repeat center /cover;
	text-align: center;
	height: 400px;
	&__head{
		@include head(100,22px);
		font-family: "Source Sans Pro",sans-serif;
		color: white;
		margin:0px 0 40px 0;

	}

	&__text{
		font-size: 16px;
		color: #81868e;
	}
	&__form{
		&_input{
		 background: rgba(0,0,0,0.1);
		 border: 1px solid white;
		 margin-right: 5px;
		 height: 43px;
		 font-size: 15px;
		 width: 360px;
		 padding-left: 20px;
		 margin-top: 50px;
		}

		&_button{
			@include button-green;
		}
	}
}