@import "partials/params";
@import "partials/mixins";
.Team{
	text-align: center;
	margin-bottom:70px;
}
.person{

	&__img{
		width: 350px;
	}

	&__info{
		float: right;
    	text-align: right;

    	&_name{
    		color: #464646;
    		font-size: 22px;
    		margin-bottom: 15px;
    	}
    	&_profession{
    		@include head (100,16px);
			color: #81868e;
			margin-bottom: 20px;
			font-style: italic;
    	}
	}

}

.name{
	color: #81868e;
	float: left;
	text-transform: uppercase;

	font-size: 15px;
	font-family: "Source Sans Pro",Sans-serif;
}
.field{
	width: 100%;
	height: 6px;
	border: 1px solid silver;
	position: relative;
	margin-bottom: 30px;
}
.filling-in{
	color: red;
	width: 80%;
	height: 4px;
	position: absolute;
	left: 0;
	top: 0;
	background: $green;
}
.procent{
	font-size: 18px;
	color: #81868e;
}
.Contact{
	background: url(img/section-bg.png) no-repeat center /cover;
	text-align: center;
}
.offer{
	padding-top: 60px;
	padding-bottom: 40px;
	&__title{
		color: white;
		font-size: 22px;
		margin-bottom: 20px;

	}

	&__button{
		background: rgba(0,0,0,0.1);
		color: white;
		border: 1px solid white;

		&:hover{
			background: white;
			color: #181818;
		}
	}
}