@import "partials/params";

.Testiomonials{
	text-align: center;
	background: #f3f3f3;
}
.block{
	background: white;

	&__img{
		float: left;
		padding-left: 30px;

	}
	&__text{
		text-align: left;
		padding-top: 35px;
		padding-left: 220px;
	}
	&__info{
		

		&_partho{
			text-transform: uppercase;
			color: $green;
			font-weight: bold;
			font-size: 16px;
			float: left;
			margin-left: 218px;

		}
		&_spec{
			text-transform: uppercase;
			font-size: 14px;
			color: #464646;
			float: left;
			margin-left: 218px;

		}
	}
}